Q1. Write a program to print Floyds Triangle?

  
    1
    2 3
    4 5 6
    7 8 9 10

In [12]:
s = 1
for i in range(1,5):
  for j in range(1,i+1):
     print(s, end=" ")
     s=s+1
     
  print()

1
2 3
4 5 6
7 8 9 10

Q2. Write a program to print the full pyramid?

    
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *

In [5]:

for i in range (1,6):
  for j in range (6,i,-1):
    print (' ',end=" ")
  for k in range (1,2*i):
    print ('*' , end= " ")
  print ()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

Q3. Write a program to print the inverted pyramid?

    
    * * * * *
    * * * *
    * * *
    * *
    *

In [4]:

 
for i in range(5,0,-1):
  for j in range(1,i+1):
     print("*", end=" ")
     
  print()

* * * * *
* * * *
* * *
* *
*

Q4. Write a program to print the following number pyramid?

  
    1
    1 2
    1 2 3
    1 2 3 4
    1 2 3 4 5

In [2]:

for i in range(1,6):
  for j in range(1,i+1):
     print(j, end=" ")
     
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Q5. Write a program to calculate 2^x using bitwise operator?

In [ ]:
x = int(input ('Enter the power '))
 
print ('2^x is equal to ' ,2<<x-1)

Enter the power 3
2^x is equal to  8

Q6. Write a program to check a number is even or odd using bitwise operator?

In [6]:
x = int(input ('Enter the number'))
if x&1 == 1:
  print ('Number is odd')
else:
  print ('Number is even')

Enter the number23
Number is odd

Q7. Write a program to find the sum of first N natural number using for loop?

In [8]:
n = int(input ('Enter the range '))
s = 0
for i in range (1,n+1):
  s=s+i
print (s)

Enter the range 5
15

Q8. Write a program to print all the digits of a number?

    ```
    SAMPLE INPUT 
    321
    486

    SAMPLE OUTPUT
    3  2  1
    4  8  6

    ```

In [9]:
n = int(input ('Enter a number'))
a = 0
b = []
while(n>0):
  a=n%10
  b.append(a)
  n=n//10
b.reverse()
for i in b:
  print (i , end=" ")

Enter a number345
3 4 5

Q9. Write a program to check whether a number is prime or not?

In [10]:
s=0
n = int(input ("Enter a number"))
for i in range(1,n+1):
  if n%i == 0:
    s = s+1
  else :
    pass
if s!=2 : 
  print("Not Prime")
else: 
  print("Prime")

Enter a number4
Not Prime

Q10. Write a program to print Binary representation of a given number N.

In [11]:
N = int(input ('Enter a number'))
a=0
b=[]
while(N>0):
  a=N%2
  b.append(a)
  N=N//2
b.reverse()
for i in b:
  print(i,end="")

Enter a number12
1100